body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #b41111; */
    color: #333;
    /* background-image: url('../images/au-bord-de-la-mer-2-2c307e8b-0cde-4243-8c94-6f714a9f6eef.jpg'); */
}